body {
    font-family: 'Lato';
}

iframe body {
    background: red;
}

.menu {
    padding-inline-start: 5px;
    padding-top: 50px;
    padding-left: 20px;
    list-style-type: none;
}

.sub-menu {
    padding-left: 8px;
}

.menu-button {
    display: none;
}

p {
    white-space: pre-line;
}

img {
    max-width: 70%;
    height: auto;
}
.orange {
    border-radius: 2px;
    color: #e96900;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: pre-wrap;
}

.logo {
    padding: 0px 20px;
    position: fixed;
    z-index: 1030;
    background:#fff;
}

.sidebar {
    border-right: 1px solid #e9e9e9;
    margin: 0;
    padding: 0;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 0.9em;
    z-index: 2;
}

.sidebar a {
    display: block;
    color: black;
    padding: 6px;
    text-decoration: none;
}

.sidebar a.active {
    color: #04AA6D;
}

.sidebar a:hover:not(.active) {
    background-color: #E7F8E3;
    color: black;
}

.content {
    padding: 50px 5% 0px 12% ;
    left: 10%;
    width: 90%;
    position: relative;
    /* min-height:90vh; */
}

.close-button {
    display: none !important;
}
@media screen and (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
.content {
    left: 100px;
}
.sidebar {
    width: 200px;
}
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 820px) {
    img {
        max-width: 100%;
        height: auto;
    }
    body {
    word-break: break-word;

    }
    .footer-main {
        display:none;
    }

    .navbar {
        display: block !important;
    }

    .logo {
        padding: 0px;
        position: relative;
        z-index: 1030;    background: none;
    }

    .sidebar {
        width: 200px;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left 0.3s ease;
        z-index: 1000;
        background-color: white;
    }

    .menu-button {
        display: block;
    }

    .close-button {
        display: block !important;
    }

    .sidebar.open {
        left: 0;
    }

    .content {
        padding-left: 10px;
        left: 0px;
        width: 100%;
    }
    .footer-content {
        padding-left: 0 !important;
    left: 0px;
    width: 100%;
    }
    
}

.menu ul {
    list-style-type: none;
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .menu-item.active .sub-menu {
    display: block;
}

p>code {
    color: #04AA6D;
}

p strong code {
    text-align: center;
    padding: 40%;
}

.nav {
    --bs-nav-tabs-border-width: 0px !important;
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: white !important;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #1a2652;

}

nav .nav-link.active {
    background-color: #1a2652 !important;
    color: skyblue !important;
}

.accordion-button:not(.collapsed) {
    color: #29BB00 !important;
}

.btn-highlight {
    color: #535353;
    opacity: .77;
    border-radius: 20px;
    background: #d2edf2;
    border: none;
    font-size: x-small;
}
li > a {
    text-decoration: none;
    color:black;
}
.code {
   line-height:2;
   margin-bottom: 20px;
   border-radius: 10px;
   overflow: hidden
}
